#!/usr/bin/make -f

%:
	dh $@ --buildsystem R

override_dh_install:
	dh_install
	find debian -name LICENSE -delete

override_dh_auto_clean:
	dh_auto_clean
	find . -name "*.o" -delete
	find . -name "*.so" -delete
